MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/eyelight?retryWrites=true&w=majority
JWT_SECRET=eyelight_super_secret_jwt_key_2025
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxx
PAYSTACK_SECRET_KEY=sk_live_xxxxxxxxxxxxxxxxxxxxxx
